<%= link_to(user) do %>
	<div id = "user-thumb">
		<span class = "image"><%= image_tag user.avatar.url(:thumb) %></span>
		<ul>
			<li class = "name"><%= user.name %></li>
			<li class = "location"><%= user.location %></li>
		</ul>
		</span>
	</div>
<% end %>

