#header{
    position: absolute;
    background-color: #303030;
    color: #ffffff;
    height: 35px;
    width: 100%;
    padding: 2px 5px 3px 11px;
    margin: -8px;
    position: fixed;
    top: 0px;
    z-index: 3;
    -webkit-box-shadow:0 1px 40px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow:0 1px 40px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow:0 1px 40px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

#header a{
    text-decoration: none;
    color: #ffffff;
}

#header a:visited{
    color: #ffffff;
}

#header .right{
    float: right;
    padding-right: 20px;
}

#header .logo{
    font-family: helvetica, sans-serif;
    font-size: 130px;
}
